@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Francois+One&display=swap');

.header.container.title,
.logo{
    font-family: 'DM Sans', sans-serif;
    color: #585858;
    font-size: 75px;
    text-decoration: none;
}

.symbol img{
    width: 100px;
    height: 100px;
    padding: 0px 0px 0px 0px;
}

*{
    font-family: 'DM Sans', sans-serif;
}

header{
    display: grid;
    grid-template-columns: auto;
}

main{
    display: grid; 
    grid-template-rows: auto;
    grid-template-columns: 1fr 2fr;
}

.plant{
    display: inline;
}

footer{
    display: grid;
}