@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Francois+One&display=swap');

.header.container.title,
.logo{
    font-family: 'DM Sans', sans-serif;
    color: #585858;
    font-size: 75px;
    text-decoration: none;
}

.symbol img{
    width: 100px;
    height: 100px;
    padding: 0px 0px 0px 0px;
}

*{
    font-family: 'DM Sans', sans-serif;
}

header{
    display: grid;
    grid-template-columns: auto;
}

/* Search Bar */
.search-container {
    margin: 20px;
}

input[type="text"] {
    padding: 8px;
}

button {
    padding: 8px;
    cursor: pointer;
}

.plant-content{
    display: grid; 
    grid-template-rows: auto;
    grid-template-columns: 1fr 2fr;
}

.default-icon img{
    width: 200px;
    height: 200px;
    border: 1px solid black;
}


.plants{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.hide{
    display: none;
}

li{
    list-style-type: none;
}

footer{
    display: grid;
}